<th:block th:replace="common/header.html"></th:block>
        :wq

<script>
    var glider = new Glider(document.querySelector('.glider'), {
        slidesToShow: 1,
        dots: '.dots',
        // scrollLock:true,
        rewind:true,
        // duration:0.5,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        }
    });
    // glider.refresh(true);
    setInterval(function(){
        let obj = document.getElementsByClassName('glider-next')[0];
        obj.click();
    },5000)
</script>
<th:block th:replace="common/footer.html"></th:block>