<th:block th:replace="common/header.html"></th:block>
<style>
    .left-sale {
        cursor: pointer;
    }
    .right-sale{
        cursor: pointer;
    }
    .glider {
        cursor: pointer;
    }
</style>
        <div id="carousel-sales">
            <div id="left-sales">
                <div th:onclick="|location.href='@{/product/new-arrival/1}'|" class="left-sale" id="left-sale-1">
                    NEW <br/>ARRIVAL
                </div>
                <div class="left-sale" id="left-sale-2">
                    SALE
                </div>
                <div th:onclick="|location.href='@{/product/small-cate/1008}'|" class="left-sale" id="left-sale-3">
                    JACKET
                </div>
                <div th:onclick="|location.href='@{/product/small-cate/1009}'|" class="left-sale" id="left-sale-4">
                    VEST
                </div>
            </div>
            <div id="center-carousel" class="glider-contain">
                <div th:onclick="|location.href='@{/product/brand/2}'|" class="glider">
                    <div class="glider-pic-con"><img th:src="@{/images/glider-1.jpg}"></div>
                    <div class="glider-pic-con"><img th:src="@{/images/glider-2.jpg}"></div>
                    <div class="glider-pic-con"><img th:src="@{/images/glider-3.jpg}"></div>
                    <div class="glider-pic-con"><img th:src="@{/images/glider-4.jpg}"></div>
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
            <div id="right-sales">
                <div th:onclick="|location.href='@{/product/small-cate/1012}'|" class="right-sale" id="right-sale-1">
                    SPRING<br>
                    SHIRTS
                </div>
                <div th:onclick="|location.href='@{/product/small-cate/1006}'|" class="right-sale" id="right-sale-2">
                    ALL<br>
                    COATS
                </div>
            </div>
        </div>
        <div class="separator">NEW ARRIVAL</div>
        <div id="new-arrival">
            <div class="item" th:each="item : ${resultList}">
                <div class="forClick" th:onclick="|fn_location('/product/${item.get('PRODUCT_ID')}')|">
                    <div class="item-img-con">
                        <th:block th:if="${item.get('PRO_IMG_NAME') == 'TEST'}">
                        <img th:src="@{/images/new1.jpg}">
                        </th:block>
                        <th:block th:if="${item.get('PRO_IMG_NAME') != 'TEST'}">
                            <img th:src="|@{/images/productImages/}${item.get('PRO_IMG_NAME')}|">
                        </th:block>
                    </div>
                    <div class="item-description">
                        <div th:text="${item.get('PRO_BRAND_NAME')}" class="item-brand">
                            [BARNS OUTFITTERS]
                        </div>
                        <div th:text="${item.get('PRODUCT_NAME')}" class="item-name">
                            GUSSET CREW SWEATSHIRTS - CALIFORNIA (BR8533)
                        </div>
                        <div th:text="${#numbers.formatInteger(item.get('PRODUCT_PRICE'),3,'COMMA')}" class="item-price">
                            KRW 179,000
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    var glider = new Glider(document.querySelector('.glider'), {
        slidesToShow: 1,
        dots: '.dots',
        // scrollLock:true,
        rewind:true,
        // duration:0.5,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        }
    });

    // glider.refresh(true);
    setInterval(function(){
        let obj = document.getElementsByClassName('glider-next')[0];
        obj.click();
    },5000)
</script>
<th:block th:replace="common/footer.html"></th:block>