<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/malldetail/mallDetailview.css}">
</head>
<body>

<th:block th:replace="common/header.html"></th:block>

    <div id="outerTotalWrapper">

        <div id="upperArticle">
            <div id="product_carousal">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                         
                        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-1.jpg" >
                      </div>
                      <div class="carousel-item">
                     
                        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-2.jpg" >
                      </div>
                      <div class="carousel-item">
                      
                        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-3.jpg" >
                      </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="icon-prev" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="icon-next" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

            </div>
            <div id="product_info">
                <div id="productTitle">SPECTATOR SPORT PRINTED SWEAT HOODIE - BLACK (BR8534)<br><br></div>
                <div id="prodictinfo">
                    <span style="font-size: 0.7rem;">  BARNS OUTFITTERS SPECTATOR SPORT PRINTED SWEAT HOODIE - BLACK (BR8534)<br><br>

                    - 100% COTTON LOOPWHEELED JERSEY <br>
                    - MADE IN JAPAN <br>
                        <br>
                    SIZE <br>
                    2 (어깨/가슴/총장/소매) : 46.5/56/69/64<br><br>

                    * CM 기준, 재는 방법에 따라 1~2CM 오차가 발생 할 수 있습니다.<br>
                    *제품 및 사이즈 문의<br>
                    - Q&A<br>
                    - 02 543 7137<br>
                    - jhlee1@bluesman.co.kr<br><br>
                    *BLUESMAN OUTLET (할인율 50%이상) 제품은 교환/환불이 불가 합니다.<br>
                </span>
                </div>
                <hr>
                <table>
                    <tbody class="feeDisplayTable">
                        <tr>
                            <td>판매가</td>
                            <th>&nbsp;&nbsp;&nbsp;89,000</th>
                        </tr>
                        <tr>
                            <td>배송방법</td>
                            <th>&nbsp;&nbsp;&nbsp;택배</th>
                        </tr>
                        <tr>
                            <td>배송비</td>
                            <th>&nbsp;&nbsp;&nbsp;9천만원</th>
                        </tr>
    
                </tbody>
            </table>    
            <hr>
            <table>
                <tbody>
                        <tr>
                            <th>옵션선택</th>
                            <th><select id="productSelector" name="optionId">
                                <option value="empty">- [필수] 필수 옵션을 선택해주세요 -</option>
                                <option value="empty">----------------------------------</option>
                                <option value="1">M(95~100)</option>
                                <option value="2">L(100~105)</option>
                                <option value="3">XL(105~110)</option>
                            </select>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table> 
                <tbody>
                    <tr>
                        <th colspan="2">(최소주문수량 1개 이상)</th>
                    </tr>
                </tbody>
            </table>
                <form id="sendProductOption">
            <table style="width:100%" id="productOptionDisplay">
                <thead class="productOptionHead">
                    <tr>
                        <th style="width:50%">option</th>
                        <th style="width:20%">quantity</th>
                        <th style="width:30%">price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <hr>
            <h3 align="right" id="priceDisplay">Total:0 KRW</h3>
            <hr>
            <div id="optionSelecter">
                <div id="buyBtn" onclick="submitOption();">BUY-NOW</div>
                <div id="cartBtn" onclick="">CART</div>
                <div id="wishBtn" onclick="">WISH</div>
            </div>
                </form>
            </div>  
        </div>
        <div id="middlePolicyInfo">
            <div id="leftPolicyArticle">
                <h6 style="font-weight: bold;">상품결제정보</h6>
               <span style="font-size: 0.7rem;"> 고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 <br>
                 임의로 주문을 보류 또는 취소할 수 있습니다.  <br><br>

                무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.  <br>
                주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다. <br>
            </span>     
                
            </div>
            <div id="rightPolicyArticle">
                <h6 style="font-weight: bold;">교환 및 반품정보</h6>
                <span style="font-size: 0.7rem;">  교환 및 반품이 가능한 경우<br>
                - 상품을 공급 받으신 날로부터 7일이내 단, 가전제품의<br>
                  경우 포장을 개봉하였거나 포장이 훼손되어 상품가치가 상실된 경우에는 교환/반품이 불가능합니다. <br>
                - 공급받으신 상품 및 용역의 내용이 표시.광고 내용과 <br>
                  다르거나 다르게 이행된 경우에는 공급받은 날로부터 3월이내, 그사실을 알게 된 날로부터 30일이내 <br>   
                </span>              
            </div>
        </div>
        <div id="bottomBoard">
            <div id="tableLeft">
                <div style="font-weight: bold;">REVIEW</div>
                <table class="reviewTable review">
                    <thead>
                        <tr>
                            <th style="width: 10%;">no</th>
                            <th style="width: 50%;">title</th>
                            <th style="width: 20%;">name</th>
                            <th style="width: 20%;">data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>XXXXX</td>
                            <td>유호연</td>
                            <td>2020-01-05</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-outline-dark">Write</button>
            </div>
            <div id="tableRight">
                <div style="font-weight: bold;">QNA</div>
                <table class="reviewTable qna">
                    <thead>
                        <tr>
                            <th style="width: 10%;">no</th>
                            <th style="width: 50%;">title</th>
                            <th style="width: 20%;">name</th>
                            <th style="width: 20%;">data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>XXXXX</td>
                            <td>유호연</td>
                            <td>2020-01-05</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-outline-dark">Write</button>
            </div>
        </div>
    </div>

<th:block th:replace="common/footer.html"></th:block>


    <script defer th:src="@{/js/mallDetailView/mallPriceController.js}"></script>
</body>
</html>