<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/order/address.css" th:href="@{/css/order/address.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="xans-element- xans-myshop xans-myshop-addrlist ec-base-layer">
    <div class="header">
        <h1>결제내역 상세보기</h1>
    </div>
    <div class="content">
        <div class="ec-base-help">
            <h2>배송 유의사항</h2>
            <div class="inner">
                <ul>
                    <li>여기 들어갈 알맞은 말이.</li>
                    <li>생각이 나지 않아 일단 임시로.</li>
                    <li>작성 해놓음.</li>
                </ul>
            </div>
        </div>

        <div class="ec-base-table typeList">
            <table id="addrTable" style="border-collapse: collapse; width: 760px;">
                <thead class="head" >
                <tr style="height: 40px;">
                    <th style="width: 90px;">주문번호</th>
                    <th style="width: 100px;">상품 이미지</th>
                    <th style="width: 280px;">상품명</th>
                    <th style="width: 80px;">주문수량</th>
                    <th style="width: 100px;">가격</th>
                    <th style="width: 100px;">배송상태</th>
                </tr>
                </thead>
                <tbody class=" center">
                <tr th:each="orderList:${orderList}">
                <td>
                    <span>[</span>
                    <span th:text="${orderList.orderId}">5017</span>
                    <span>]</span>
                </td>
                <td><img width="100px" th:src="|@{/images/productImages/}${orderList.proImgName}|"></td>
                <td>
                    <span th:text="${orderList.productName}">ABCDEFasdasdasdasdasdasdasd</span><br/>
                    <span>[</span>
                    <span th:text="${orderList.productSize}"></span>
                    <span>]</span>
                </td>
                <td>
                    <span th:text="${orderList.productQuantity}">5</span>
                </td>
                <td>
                    <span style="font-weight: bold; color: #0ba8ef">KRW</span><br>
                    <span style="font-weight: bold; color: #0ba8ef" th:text="${#numbers.formatInteger((orderList.productPrice*orderList.productQuantity),3,'COMMA')}">56,000</span>
                </td>
                <th:block th:if="${orderList.orderStatus == '0'}">
                <td><span>입금전</span></td>
                </th:block>
                <th:block th:if="${orderList.orderStatus == '1'}">
                    <td><span>배송 준비중</span></td>
                </th:block>
                <th:block th:if="${orderList.orderStatus == '2'}">
                    <td><span>배송중</span></td>
                </th:block>
                <th:block th:if="${orderList.orderStatus == '3'}">
                    <td><span>배송완료</span></td>
                </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ec-base-button 1" style="display: none; justify-content: center; margin-top: 15px;">
        <img style="cursor: pointer; margin-right: 5px;" src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_address_cancel.gif" alt="취소" >
        <img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_address_register2.gif" alt="등록" style="margin-right: 5px; cursor: pointer;" >
    </div>

    <div class="ec-base-button 2" style="display: flex; justify-content: center; margin-top: 15px;">
        <button style="width: 100px; height: 30px;background-color: #495164; color: white; cursor: pointer;" onclick="window.close();">닫기</button>
    </div>
</div>
<input type="hidden" name="addrId" value="">
<input type="hidden" name="userNo" value="">
<input type="hidden" name="updateCheck" value="">
</body>
</html>