/*div,*/
/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/

#outerTotalWrapper {
    min-width: 80em;
    max-width: 120em;
    min-height: 10px;
    margin: auto;
}

#upperArticle {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

#product_carousal {
    width: 60%;

}
#product_info {
    padding-top: 30px;
    width: 40%;
}


#carousel-example-generic {
    margin: auto;
    width: 100%;
    height: 100%;
}
.carousel-inner{
    width: 100%;
    height: 100%;

}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel-item>img{
    /*margin-left: 37px;*/
    width: 90%;
    height: 90%;

}

.infoTitle{
    width: 25%;
    height: 27px;
    color: #555555;
}
.infoContent{
    font-size: 0.7rem;
    color: #555555;
}

.carouselTitle {
    font-size: 64px;
    font-weight: 100;
    color: white;
    text-shadow: 0 1px 2px #000;
    position: absolute;
    bottom: 60px;
    left: 80px;
}

#productSelector{
    height: 30px;
    border: 1px solid rgb(118, 118, 118);
    font-size: 0.7rem;
    color:rgb(118, 118, 118);
}

.productOptionHead > tr {
    text-align: center;
    height: 30px;
}
.carousel-indicators {

    margin-bottom: 80px;
}

#productTitle{
    font-size: 0.9rem;
}
#prodictinfo{
    min-height: 350px;
    font-size: 0.7rem;
}

.productOptionHead > tr > th {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

#optionSelecter {
    display: flex;
    justify-content: space-between;
}

#optionSelecter > div {
    width: 33%;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

#middlePolicyInfo {
    width: 100%;
    display: flex;
    margin-top: 20px;
    min-height: 10px;
}

.feeDisplayTable td,
th {
    font-size: 0.8rem;
    font-weight: 500;
}

#leftPolicyArticle {
    width: 47.5%;
    margin-right: 3%;
}
#rightPolicyArticle {
    width: 47.5%;
}

#bottomBoard {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#bottomBoard > div {
    width: 49%;
}

.reviewTable {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 10px;
}
.reviewTable > thead {
    border-bottom: 1px solid lightgray;
}

.reviewTable > thead > tr > th {
    text-align: center;
    font-size: 0.7rem;
    height: 30px;
    color: darkgray;
}
.reviewTable > tbody > tr > td {
    text-align: center;
    font-size: 0.7rem;
    height: 30px;
    color: black;
}

.reviewTable > tbody > tr:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.btn-outline-dark {
    height: 30px;
    line-height: 10px;
    float: right;
    margin-top: 10px;
}

#buyBtn {
    cursor: pointer;
    background-color: #2f588c;
    color: whitesmoke;
}

#cartBtn {
    cursor: pointer;
    background-color: whitesmoke;

}

#wishBtn {
    cursor: pointer;
    background-color: whitesmoke;

}

p {
    margin : 0;
}

.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-item {
        transition: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 1;
    opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
        transition: none;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
        transition: none;
    }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
    .carousel-indicators [data-bs-target] {
        transition: none;
    }
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
}
.carousel-dark .carousel-caption {
    color: #000;
}