<th:block th:replace="common/header.html"></th:block>
<link rel="stylesheet" th:href="@{/css/order/cartList.css}">

<div id="title-idx">
    <div id="title">
        장바구니
    </div>
    <div id="idx">
        HOME > 마이쇼핑 > 장바구니
    </div>
</div>
<div id="wrapper">
    <div id="wish-wrapper">
        <table border="1">
            <form id="cartFrm" th:action="@{/order/purchase}" method="GET">
            <tr>
                <th th:text="|일반상품 (${count})|" colspan="8" class="to-left">
                    일반상품 (*)
                </th>
            </tr>
            <tr>
                <th class="product-select"><input id="checkMom" type="checkbox"></th>
                <th class="product-img">이미지</th>
                <th class="product-detail">상품정보</th>
                <th class="product-price">판매가</th>
                <th class="product-mileage">수량</th>
                <th class="product-mileage">적립금</th>
                <th class="product-order">배송구분</th>
                <th class="product-recall">선택</th>
            </tr>
            <tr th:each="item: ${cartList}">
                <td class="product-select-content">
                    <input th:value="${item.getSbId()}" class="proCheck" type="checkbox">
                </td>
                <td>
                    <img th:src="|@{/images/productImages/}${item.getProductThumbnailImage()}|" class="product-img-content" >
                </td>
                <td class="product-info-content">
                    <b th:text="${item.getProductName()}">REVERSWAVE PRINTED SWEATSHIRTS - WHITE (BR8511)</b></b><br>
                    <p th:text="|옵션: ${item.getOptionSize()}|"></p>
                    <br>
                </td>
                <td class="product-price-content">
                    <b th:text="${#numbers.formatInteger(item.getProductPrice(),3,'COMMA')}">KRW 229,000</b>
                </td>
                <td >
                    <div class="quan-con">
                        <input th:value="${item.getOptionQuantity()}" size="3">
                        <input type="hidden" th:value="${item.getSbId()}">
                        <button type="button" class="cart-modify-quan">변경</button>
                    </div>
                </td>
                <td >
                    -
                    <input type="hidden" th:name="|optionList[${itemStat.index}].optionId|" th:value="${item.getOptionId()}">
                    <input type="hidden" th:name="|optionList[${itemStat.index}].optionQuantity|" th:value="${item.getOptionQuantity()}">
                </td>
                <td>
                    기본배송
                </td>
                <td>
                    <button type="button" class="product-date-btn subBtn" th:onclick="|fn_cartPer(${itemStat.index},${item.getOptionId()},${item.getOptionQuantity()})|">주문하기 <ion-icon name="chevron-forward-outline"></ion-icon></button><br>
                    <button th:onclick="|fn_wishInsert('${item.getProductId()}')|" type="button" class="product-date-btn">관심상품 <ion-icon name="chevron-forward-outline"></ion-icon></button><br>
                    <button th:onclick="|fn_delete(${item.getSbId()})|" type="button" class="product-date-btn deleteBtn"><ion-icon name="close-outline"></ion-icon> 삭제</button>
                </td>
            </tr>
            <tr>
                <th colspan="8">
                    <div id="order-desc" class="to-right">
                        상품구매금액 <b th:if="${priceSum != 0}" th:text="${#numbers.formatInteger(priceSum,3,'COMMA')}">0</b>
                        <b th:if="${priceSum == 0}">0</b>+ 배송비
                        <span th:if="${delivery != 0}" th:text="${#numbers.formatInteger(delivery,3,'COMMA')}">0</span>
                        <span th:if="${delivery == 0}">0 (무료)</span>
                        = 합계 : <span th:if="${totalPrice != 0}" th:text="|KRW ${#numbers.formatInteger(totalPrice,3,'COMMA')}|" class="blue-text">KRW 76,000</span>
                        <span th:if="${totalPrice == 0}" class="blue-text">KRW 0</span>
                    </div>
                </th>
            </tr>
            </form>
        </table>
        <div id="select-btns">
            <div id="select-left-btns">
                선택상품을
                <button onclick="fn_delete()" class="select-left-btn delete"><ion-icon name="close"></ion-icon>삭제하기</button>
            </div>
            <div id="select-right-btns">
                <button class="select-right-btn">쇼핑 계속하기</button>
                <button onclick="fn_emptyCart()" class="select-right-btn empty">장바구니 비우기</button>
                <button onclick="fn_cartForward()" class="select-right-btn subBtn">전체상품주문</button>
            </div>
        </div>
<!--        <div id="pagination">-->
<!--            <button class="page-btn" id="big-left"><<</button>-->
<!--            <button class="page-btn" id="left"><</button>-->
<!--            <button class="page-btn selected" id="num-page">1</button>-->
<!--            <button class="page-btn" id="right">></button>-->
<!--            <button class="page-btn" id="big-right">>></button>-->
<!--        </div>-->
        <th:block th:utext="${pageBar}"></th:block>

        <table id="tbl-cau" border="1">
            <tr>
                <th>
                    이용 안내
                </th>
            </tr>
            <tr>
                <td>
                    장바구니 이용안내
                    <ol class="fa-ul">
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>해외배송 상품과 국내배송 상품은 함께 결제하실 수 없으니 장바구니 별로 따로 결제해 주시기 바랍니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>해외배송 가능 상품의 경우 국내배송 장바구니에 담았다가 해외배송 장바구니로 이동하여 결제하실 수 있습니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>선택하신 상품의 수량을 변경하시려면 수량변경 후 [변경] 버튼을 누르시면 됩니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>[쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속 하실 수 있습니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>장바구니와 관심상품을 이용하여 원하시는 상품만 주문하거나 관심상품으로 등록하실 수 있습니다.</li>
                    </ol>

                    무이자할부 이용안내
                    <ol class="fa-ul">
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>상품별 무이자할부 혜택을 받으시려면 무이자할부 상품만 선택하여 [주문하기] 버튼을 눌러 주문/결제 하시면 됩니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>[전체 상품 주문] 버튼을 누르시면 장바구니의 구분없이 선택된 모든 상품에 대한 주문/결제가 이루어집니다.</li>
                        <li><span class="fa-li"><i class="far fa-check-square"></i></span>단, 전체 상품을 주문/결제하실 경우, 상품별 무이자할부 혜택을 받으실 수 없습니다.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    function fn_paging(cPage){location.href='/member/wishList?cPage='+cPage;}
</script>
<script>
    function fn_emptyCart(){
        let input = {};
        let checks = document.getElementsByClassName('proCheck');
        for (let i = 0; i < checks.length; i++) {
            input[i] = checks[i].value;
        }
        console.log(input);

        $.ajax({
            type:"DELETE",
            url: contextPath + "/order/cart/" + JSON.stringify(input),
            contentType:'application/json; charset=utf-8',
            success: (data) => {
                if(data === 'success'){
                    alert('정상적으로 비워졌습니다.');
                    location.reload();
                    return false;
                }
                alert('삭제에 실패하였습니다. 관리자에게 문의해주세요.')
            },
            error : (error) => {
                console.log(error)
            }
        })
    }

    function fn_wishInsert(proId){
        let productId = proId;
        $.ajax({
            type:"POST",
            contentType : 'application/json; charset=utf-8',
            url: contextPath + "/product/wishlist",
            data : JSON.stringify({"productId" : productId}),
            success: (data) => {
                if(data === 'SUCCESS')alert("위시리스트에 추가되었습니다");
                if(data === 'FAIL')alert("실패하였습니다. 관리자에게 문의하세요.");
                if(data === 'DUPLICATE')alert("이미 위시리스트에 추가되었습니다.");
            },error: (msg) => {
                console.log(msg)
            }
        })
    }

    document.getElementById('checkMom').addEventListener('change', function(){
        if(this.checked){
            document.querySelectorAll('.proCheck').forEach((ele)=>{
                ele.checked = true;
            })
        }else {
            document.querySelectorAll('.proCheck').forEach((ele)=>{
                ele.checked = false;
            })
        }
    })

    let modify = document.querySelectorAll('.cart-modify-quan');
    modify.forEach(function(ele){
        ele.addEventListener('click',function(){
            let quantity = this.parentNode.childNodes[1].value;
            let sbId = this.parentNode.childNodes[3].value;
            console.log(quantity, sbId);
            let input = {"sbId":sbId, "optionQuantity":quantity};
            $.ajax({
                type:"PUT",
                url: contextPath + "/order/cart/" + JSON.stringify(input),
                contentType:'application/json; charset=utf-8',
                success: (data) => {
                    if(data === 'success'){
                        location.reload();
                        return false;
                    }
                    alert('수정에 실패하였습니다. 관리자에게 문의해주세요.')
                },
                error : (error) => {
                    console.log(error)
                }
            })
        })
    })

    function fn_cartPer(index, optionId, optionQunatity){
        let frm = document.createElement('form');
        frm.setAttribute('action', contextPath + '/order/purchase');
        frm.setAttribute('method','get');
        let inp1 = document.createElement('input');
        inp1.setAttribute('name','optionList[' + index + '].optionId');
        inp1.setAttribute('value', optionId);
        let inp2 = document.createElement('input');
        inp2.setAttribute('name','optionList[' + index + '].optionQuantity');
        inp2.setAttribute('value', optionQunatity);

        document.body.appendChild(frm);
        frm.appendChild(inp1);
        frm.appendChild(inp2);
        console.log(frm);
        frm.submit();
    }

    function fn_cartForward(){
        let arr = document.querySelectorAll('.product-select-content')

        if(arr.length === 0) {
            alert("장바구니가 비어있습니다");
            return;
        }

        document.getElementById('cartFrm').submit();
    }

    function fn_delete(proId){
        let input = {};
        console.log(proId);
        if(proId === undefined) {
            let checks = document.getElementsByClassName('proCheck');
            for (let i = 0; i < checks.length; i++) {
                if (checks[i].checked === true) {
                    input[i] = checks[i].value;
                }
            }

            if (input.length === 0) {
                alert('삭제 할 게시물을 선택해주세요.')
                return;
            }
        }else {
            input[0] = proId;
        }

        $.ajax({
            type:"DELETE",
            url: contextPath + "/order/cart/" + JSON.stringify(input),
            contentType:'application/json; charset=utf-8',
            success: (data) => {
                if(data === 'success'){
                    alert('정상적으로 삭제되었습니다.');
                    location.reload();
                    return false;
                }
                alert('삭제에 실패하였습니다. 관리자에게 문의해주세요.')
            },
            error : (error) => {
                console.log(error)
            }
        })
    }
</script>
<th:block th:replace="common/footer.html"></th:block>
</html>