<th:block th:replace="common/header.html"></th:block>
<style>
    #title-idx {
        margin-top:2.5em;
        display: flex;
    }
    #title {
        width: 50%;
        font-size:22px;
        font-weight: 900;
        color: #353535;
        font-family: 'Spoqa Han Sans','Sans-serif'!important;
        -webkit-font-smoothing: antialiased;
    }
    #idx {
        width: 50%;
        text-align: right;
        font-weight: bold;
    }
    #wrapper {
        display: flex;
        justify-content: center;
    }
    #table-wrapper {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #description {
        text-align: right;
        margin-bottom: 0.5em;
    }
    table {
        min-width: 90em;
        max-width: 120em;
        border: 1px silver solid;
        border-collapse: collapse;
        border-spacing: 0;
    }
    td{
        border:1px silver solid;
        height: 34px;
    }
    .table-title {
        width: 12%;
        text-indent: 15px;
        font-size: 12px;
        background: rgb(251,250,250);
    }
    .table-content {
        font-size: 12px;
        width: 78%;
        text-indent: 10px;
    }
    table input {
        border:1px rgb(220,220,220) solid;
        height: 1.5em;
        margin: 0.5em;
    }
    select[name="pw-confirm"] {
        border:1px rgb(220,220,220) solid;
        height: 2.2em;
        width: 25em;
        margin: 0.5em;
        font-size: 12px;
    }
    select.phone-num{
        border:1px rgb(220,220,220) solid;
        height: 2.2em;
        width: 5em;
        margin: 0.5em;
        font-size: 12px;
    }
    .address {
        text-indent: 0;
        padding-left: 10px;
    }
    ion-icon[name="medical"]{
        color: orangered;
        font-size: 10px;
    }
    button[name="postal-code"]{
        text-align: center;
        background: white;
        border:1px silver solid;
        height:2em;
        font-size: 12px;
        padding-top: 2px;
    }
    ion-icon[name="caret-forward-circle-outline"] {
        vertical-align: middle;
    }
    #submit-con {
        display: flex;
        justify-content: center;
        margin-top:1.5em;
    }
    #submit {
        width: 8em;
        height: 2em;
        font-size: 16px;
        background: rgba(7,34,66,0.8);
        border:1px silver solid;
        color: white;
        cursor:pointer;
        transition-duration: 0.15s;
    }
    #submit:hover {
        background: white;
        color:black;
    }
    button[name="postal-code"] {
        cursor: pointer;
    }
</style>
<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}">
<div id="title-idx">
    <div id="title">
        JOIN
    </div>
    <div id="idx">
        HOME > JOIN
    </div>
</div>
<div id="wrapper">
    <div id="table-wrapper">
        <h2>기본정보</h2>
        <div id="description">
            <ion-icon name="medical"></ion-icon>필수입력사항
        </div>
        <form onsubmit="fn_submit()" id="join-fm" name="join-fm" role="form" th:action="@{/member/insert}" method="POST">
        <table>
            <tr>
                <td class="table-title">아이디<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input name="memId" id="user_id"><span id="user_id_info">(영문소문자/숫자, 6~20자)</span>
                </td>
            </tr>
            <tr>
                <td class="table-title">비밀번호<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input type="password" name="memPwd" id="user_pw"><span id="user_pw_info">(영문 대소문자/특수문자 6자~20자)</span>
                </td>
            </tr>
            <tr>
                <td class="table-title">비밀번호 확인<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input type="password" name="user_pw_ch" id="user_pw_ch"><span id="user_pw_ch_info"></span>
                </td>
            </tr>
            <tr>
                <td class="table-title">비밀번호 확인 질문<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <select name="memPwdcheckQ">
                        <option value="기억에 남는 추억의 장소는?">기억에 남는 추억의 장소는?</option>
                        <option value="자신의 인생 좌우명은?">자신의 인생 좌우명은?</option>
                        <option value="자신의 보물 1호는?">자신의 보물 1호는?</option>
                        <option value="가장 기억에 남는 선생님 이름은?">가장 기억에 남는 선생님 이름은?</option>
                        <option value="타인이 모르는 자신만의 신체비밀이 있다면?">타인이 모르는 자신만의 신체비밀이 있다면?</option>
                        <option value="추억하고 싶은 날짜가 있다면?">추억하고 싶은 날짜가 있다면?</option>
                        <option value="받았던 선물 중 기억에 남는 선물은?">받았던 선물 중 기억에 남는 선물은?</option>
                        <option value="유년시절 가장 기억에 남는 친구의 이름은?">유년시절 가장 기억에 남는 친구의 이름은?</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="table-title">비밀번호 확인 답변<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input size="50" name="memPwdcheckA" id="pw_answer">
                </td>
            </tr>
            <tr>
                <td class="table-title">이름<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input name="memName" id="user_name">
                </td>
            </tr>
            <tr>
                <td class="table-title">주소</td>
                <td class="table-content address">
                    <input size="8" name="addrZipcode" id="postal_code"><button type="button" onclick="fn_postal();" name="postal-code">우편번호 <ion-icon name="caret-forward-circle-outline"></ion-icon></button><br>
                    <input size="36" id="user_addr" name="addr"><br>
                    <input size="36" id="user_addr_rest" name="addrDetail"><br>
                    <input type="hidden" id="addr_info">
                </td>
            </tr>
            <tr>
                <td class="table-title">휴대전화<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <select class="phone-num" name="phone-num" id="phone_num">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                        <option value="0502">0502</option>
                        <option value="0503">0503</option>
                        <option value="0504">0504</option>
                        <option value="0505">0505</option>
                        <option value="0506">0506</option>
                        <option value="0507">0507</option>
                        <option value="0508">0508</option>
                        <option value="070">070</option>
                    </select>
                    -
                    <input size="8" name="phone_middle" id="phone_middle"> - <input size="8" name="phone_tail" id="phone_tail">
                    <input type="hidden" name="memPhone" id="mem_phone">
                </td>
            </tr>
            <tr>
                <td class="table-title">이메일<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input size="50" name="memEmail" id="user_email">
                </td>
            </tr>
        </table>
        <div id="submit-con">
            <button id="submit" type="submit">회원가입</button>
        </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    let contextPath = document.getElementById('contextPathHolder').getAttribute('data-contextPath') ? document.getElementById('contextPathHolder').getAttribute('data-contextPath') : '';
    let id_check = false;
    let pw_check = false;
    document.getElementById("user_id").addEventListener('keyup',()=>{
        let id = document.getElementById("user_id").value;
        if(fn_id_check(id)){
            $.ajax({
                url: contextPath + "/member/idCheck",
                type: "GET",
                data: {"userId" : id},
                dataType : "json",
                contentType: 'application/json;charset=UTF-8',
                success: function(data){
                    if(data.result > 0) {
                        //0보다 클 경우 중복
                        document.getElementById("user_id_info").style.color = 'red';
                        document.getElementById("user_id_info").innerText = '이미 존재하는 아이디입니다.';
                        return;
                    }else {
                        //0일 경우 사용가능한 아이디
                        document.getElementById("user_id_info").style.color = 'green';
                        document.getElementById("user_id_info").innerText = '사용 가능한 아이디입니다.';
                        id_check = true;
                        return;
                    }
                },
                error:(log)=>{
                    console.log("실패");
                    console.log(log);
                }
            })
        }else {
            document.getElementById("user_id_info").style.color = 'red';
            document.getElementById("user_id_info").innerText = '(영문소문자/숫자, 4~16자)';
            id_check = false;
        }
    })

    document.getElementById("user_pw").addEventListener('keyup',()=>{
        let pw = document.getElementById("user_pw").value;
        if(fn_pw_check(pw)){
            document.getElementById("user_pw_info").style.color = 'green';
            document.getElementById("user_pw_info").innerText = '유효한 비밀번호입니다.';
            pw_check = true;
        }else {
            document.getElementById("user_pw_info").style.color = 'red';
            document.getElementById("user_pw_info").innerText = '(영문 대소문자/특수문자 6자~20자)';
            pw_check = false;
        }
    })

    document.getElementById("user_pw_ch").addEventListener('keyup',()=>{
        let pw = document.getElementById("user_pw").value;
        let pwCh = document.getElementById("user_pw_ch").value;
        if(pw == pwCh){
            document.getElementById("user_pw_ch_info").style.color = 'green';
            document.getElementById("user_pw_ch_info").innerText = '비밀번호가 일치합니다.';
            pw_check = true;
        }else if(pwCh == ""){
            document.getElementById("user_pw_ch_info").innerText = '';
            pw_check = false;
        }else {
            document.getElementById("user_pw_ch_info").style.color = 'red';
            document.getElementById("user_pw_ch_info").innerText = '비밀번호가 일치하지 않습니다.';
            pw_check = false;
        }
    })

    function fn_id_check(user_id){
        if(/^[a-z]+[a-z0-9]{5,19}$/g.test(user_id))return true;
        else return false;
    }
    function fn_pw_check(pw){
        if(/^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{6,20}$/.test(pw))return true;
        else return false;
    }
    function fn_postal(){
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("addr_info").value = extraAddr;

                } else {
                    document.getElementById("addr_info").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postal_code').value = data.zonecode;
                document.getElementById("user_addr").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("user_addr_rest").focus();
            }
        }).open();
    }
    function fn_submit(){
        let pw_ans = document.getElementById("pw_answer").value;
        let user_name = document.getElementById("user_name").value;
        let phone_num = document.getElementById("phone_num").value
        let phone_middle = document.getElementById("phone_middle").value
        let phone_tail = document.getElementById("phone_tail").value;
        let user_email = document.getElementById("user_email").value;
        if(!id_check){
            alert("아이디를 체크해주세요");
            document.getElementById("user_id").focus();
            return;
        }
        if(!pw_check){
            alert("비밀번호를 체크해주세요.");
            return;
        }
        if(pw_ans == ""){
            alert("비밀번호 질문에 대한 대답을 체크해주세요.");
            document.getElementById("pw_answer").focus();
            return;
        }
        if(user_name==""){
            alert("이름을 기입해주세요");
            document.getElementById("user_name").focus();
            return;
        }
        if(phone_num==""||phone_middle==""||phone_tail==""){
            alert("전화번호를 체크해주세요.");
            return;
        }
        if(user_email==""){
            alert("이메일을 체크해주세요");
            document.getElementById("user_email").focus();
            return;
        }
        let firstNum = document.getElementById("phone_num").value;
        let middleNum = document.getElementById("phone_middle").value;
        let lastNum = document.getElementById("phone_tail").value;
        document.getElementById("mem_phone").value =
            firstNum + '-' + middleNum + '-' + lastNum;

    }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<th:block th:replace="common/footer.html"></th:block>
</html>