<th:block th:replace="common/header.html"></th:block>
<link rel="stylesheet" th:src="@{css/member/modify.css}">
<div id="title-idx">
    <div id="title">
        MEMBER PROFILE
    </div>
    <div id="idx">
        HOME > MEMBER PROFILE
    </div>
</div>
<div id="wrapper">
    <div id="modify-wrapper">
        <th:block th:if="${session.loginMember.getIsSocial() == 0}">
        <div id="my-con-con">
            <div id="user-grade-con">
                <div id="user-icon">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="vl"></div>
                <div id="user-grade-description">
                    저희 쇼핑몰을 이용해 주셔서 감사합니다. &nbsp<span class="blue-text">홍지운</span>님은&nbsp<strong>[일반회원]</strong>&nbsp회원이십니다.
                </div>
            </div>
        </div>
        </th:block>
        <th:block th:if="${session.loginMember.getIsSocial() == 1}">
        <div id="kakao-con">
            <div id="kakao-con-con">
                <div id="kakao-img-con">
                    <img id="kakao-img-medium" th:src="@{/images/kakaolink_btn_medium.png}">
                </div>
                <div id="kakao-desc-con">
                    저희 쇼핑몰을 이용해 주셔서 감사합니다. &nbsp<span th:text="${name}" class="blue-text"></span>님은&nbsp<strong th:text="${session.loginMember.getMemGrade()}">[일반회원]</strong>&nbsp회원이십니다.
                </div>
            </div>
        </div>
        </th:block>
<!--        <div id="description">-->
<!--            <div id="des-title">-->
<!--                기본정보-->
<!--            </div>-->
<!--            <div id="des-required">-->
<!--                <ion-icon name="medical"></ion-icon>필수입력사항-->
<!--            </div>-->
<!--        </div>-->
        <table>
            <tr>
                <td class="table-title">이메일<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input th:value="${email}" readonly>
                </td>
            </tr>
            <th:block th:if="${session.loginMember.getIsSocial() == 0}">
            <tr>
                <td class="table-title">비밀번호<ion-icon name="medical"></ion-icon></td>
                <td class="table-content">
                    <input type="password" readonly value="12345678">
                    <button onclick="fn_changePw();" type="button">비밀번호변경</button>
                </td>
            </tr>
            </th:block>
            <tr>
                <td class="table-title">휴대전화</td>
                <td class="table-content">
                    <select disabled class="phone-num" name="phone-num-2">
                        <option th:selected="${frontNum} == '010'" value="010">010</option>
                        <option th:selected="${frontNum} == '011'" value="011">011</option>
                        <option th:selected="${frontNum} == '016'" value="016">016</option>
                        <option th:selected="${frontNum} == '017'" value="017">017</option>
                        <option th:selected="${frontNum} == '018'" value="018">018</option>
                        <option th:selected="${frontNum} == '019'" value="019">019</option>
                    </select>
                    -
                    <input th:value="${midNum}" readonly size="8"> - <input readonly th:value="${lastNum}" size="8">
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    function fn_changePw(){
        let path = contextPath + "/member/changePw";
        window.open(path, "비밀번호 변경", "top=50, left=50, width=500, height=400, resizable=no")
    }
</script>
<th:block th:replace="common/footer.html"></th:block>
</html>