body {
    /*border:1px red solid;*/
    font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
    color: #353535;
    -webkit-font-smoothing: antialiased;
}
#wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}
#content {
    width:86%;
    height: 100em;
}
#logo-search{
    display: flex;
    font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
    font-family: "Gill Sans";
    color: #353535;
    -webkit-font-smoothing: antialiased;
}
#logo-container{
    display: flex;
    align-items: center;
    width:30%;
}
#searchbar-container{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#searchbar {
    display: flex;
    align-items: center;
}
#search-input{
    border: 2px rgb(7,34,66) solid;
    height:3em;
    width: 34em;
}
#search-input:focus{
    outline: none;
}
#search-btn {
    border: 2px rgb(7,34,66) solid;
    background-color: rgb(7,34,66);
}
ion-icon[name="search-outline"]{
    font-size: 2.76em;
    color: white;
}
#shop-info-container{
    width:30%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
}
#logo{
    width:100px;
    height:100px;
}
#menus {
    display: flex;
}
#shop-cates {
    width:80%;
    display: flex;
}
#user-cates{
    width:20%;
    display: flex;
    justify-content: flex-end;
}
.shop-cate{
    margin-right: 5em;
    height: 3.5em;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border:0;
}
.user-cate{
    margin-right: 1em;
    display: flex;
    align-items: center;
    font-size: small;
    border:0;
}
a {
    color: #353535;
    text-decoration: none;
}
#carousel-sales{
    margin-top: 1.5em;
    display: flex;
    height:37em;
}
#left-sales{
    width: 20%;
}
#center-carousel{
    width: 60%;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
}

#center-carousel .glider {
    height: 100%;
}

.glider-track {
    height: 100%;
}

#center-carousel .glider-prev {
    position: absolute;
    margin-top: 1em;
    left: 0.4em;
    color: white;
    width: 1em;
    background: rgba(0,0,0,0.2);
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.18em;
    padding-right: 0.05em;
}
#center-carousel .glider-next {
    position: absolute;
    margin-top: 1em;
    right: 0.4em;
    color: white;
    width: 1em;
    background: rgba(0,0,0,0.2);
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.18em;
    padding-right: 0.05em;
}

.glider-pic-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dots {
    position:absolute;
    left: 44%;
    bottom: 1em;
}
#right-sales{
    width: 20%;
}
.left-sale{
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
    align-items: center;
    height: 5em;
    border:1px black solid;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 900;
}
#left-sale-1{
    color:rgb(190,57,50);
}
#left-sale-2{
    color:rgb(190,57,50);
}
#left-sale-3{
    color:rgb(203,171,68);
}
#left-sale-4{
    color:black;
    margin-bottom: 0;
}
.right-sale{
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
    align-items: center;
    height: 7.49em;
    border:1px black solid;
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 900;
    text-shadow: 1px 1px black;
}
#right-sale-1{
    color:rgb(46,65,134);
}
#right-sale-2{
    color:rgb(181,41,30);
    margin-bottom: 0;
}
.separator {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    text-align: center;
    font-size:16px;
    font-weight: 700;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid silver;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}
#new-arrival {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 20%;
}

.item-img-con {
    width: 100%;
}
.item-img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-description {
    display: flex;
    flex-direction: column;
}
.item-description div {
    margin-bottom: 0.5em;
    font-size: 13px;
}
.item-description .item-name {
    color: gray;
}
.item-description .item-price {
    font-weight: bold;
}
.item {
    cursor: pointer;
}