<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>빈페이지</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->

    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet" th:href="@{/adminTemplateResources/css/style.min.css}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .shippingList:hover{
        background-color: lightgray;
        cursor: pointer;
    }
    #pageWrapper{
        width: 100%;
        height: 30px;
        border: 1px solid red;
    }
</style>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

    <header th:replace="admin/adminCommon/adminHeader.html"></header>

    <th:block th:replace="admin/adminCommon/adminAside.html"></th:block>

    <div class="page-wrapper" style="min-height: 250px;">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title text-uppercase font-medium font-14">Profile Page</h4>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <div style="display: flex; width:100%;">
                            <h3 class="box-title" style="width:8%;">검색옵션 설정 ▶</h3>
                            <select name="searchOption" id="searchOption" class="form-control" style="width: 12%; margin-right: 20px">
                                <option value="ReceiverEmail" selected>결제이메일 검색</option>
                                <option value="purchaseNo" selected>결제번호 검색</option>
                                <option value="Receiver">받는사람 검색</option>
                                <option value="ReceiverPhone">연락처 검색</option>
                            </select>
                            <input type="date" id="startDate" name="startDate" class="form-control" style="width: 12%">
                            <span style="line-height: 38px">&nbsp;~&nbsp;</span>
                            <input type="date" id="endDate" name="endDate" class="form-control" style="width: 12%">
                            <input type="number" class="form-control" style="width:200px; margin-left: 20px">
                            <button type="button" class="btn btn-primary" style="height: 85%">검색</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <h3 class="box-title">배송관리</h3>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <div style="display: flex; justify-content: space-between;">
                                        <h3 class="box-title">배송관리 테이블</h3>
                                    </div>
                                    <div class="table-responsive">

                                        <table class="table" style="text-align: center; align-items: center;" >
                                            <thead>
                                            <tr>
                                                <th class="border-top-0" >결제번호</th>
                                                <th class="border-top-0" >결제이메일</th>
                                                <th class="border-top-0" >받는사람</th>
                                                <th class="border-top-0" >연락처</th>
                                                <th class="border-top-0" >상품명</th>
                                                <th class="border-top-0" >결제가격</th>
                                                <th class="border-top-0" >배송상태</th>
                                                <th class="border-top-0" >결제일</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr class="shippingList">
                                                <td style="vertical-align: middle">12345</td>
                                                <td style="vertical-align: middle">yhy1045@naver.com</td>
                                                <td style="vertical-align: middle">유호연</td>
                                                <td style="vertical-align: middle">010-9953-6824</td>
                                                <td style="vertical-align: middle">젠킨스 후드티</td>
                                                <td style="vertical-align: middle">229,000</td>
                                                <td style="vertical-align: middle">배송중</td>
                                                <td style="vertical-align: middle">2021-01-14</td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle">12345</td>
                                                <td style="vertical-align: middle">yhy1045@naver.com</td>
                                                <td style="vertical-align: middle">유호연</td>
                                                <td style="vertical-align: middle">010-9953-6824</td>
                                                <td style="vertical-align: middle">젠킨스 후드티</td>
                                                <td style="vertical-align: middle">229,000</td>
                                                <td style="vertical-align: middle">배송중</td>
                                                <td style="vertical-align: middle">2021-01-14</td>
                                            </tr>

                                            <tr>
                                                <td style="vertical-align: middle">12345</td>
                                                <td style="vertical-align: middle">yhy1045@naver.com</td>
                                                <td style="vertical-align: middle">유호연</td>
                                                <td style="vertical-align: middle">010-9953-6824</td>
                                                <td style="vertical-align: middle">젠킨스 후드티</td>
                                                <td style="vertical-align: middle">229,000</td>
                                                <td style="vertical-align: middle">배송중</td>
                                                <td style="vertical-align: middle">2021-01-14</td>
                                            </tr>



                                            </tbody>
                                        </table>

                                        <div id = "pageWrapper">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<th:block th:replace="admin/adminCommon/adminCommonJs.html"></th:block>
<script>
    $(function (){

        $("#searchOption").change(function(){
            if($("#searchOption option:checked").val()=="pPrice"){
                $("#priceInput").css('display','flex');
                $("#nameInput").css('display','none');
                $("#codeInput").css('display','none');

            } else if ($("#searchOption option:checked").val()=="pName"){
                $("#priceInput").css('display','none');
                $("#nameInput").css('display','flex');
                $("#codeInput").css('display','none');
            } else {
                $("#priceInput").css('display','none');
                $("#nameInput").css('display','none');
                $("#codeInput").css('display','flex');
            }
        });
    })

</script>
</body>

</html>