<script>
    function fn_location(loc){
        location.href = contextPath + loc;
    }
</script>

<style>
    #footer-separator {
        margin-top: 4em;
        margin-bottom: 2em;
    }
    #footer {
        display: flex;
        padding-bottom: 4em;
    }
    #footer-logo-con {
        width: 15%;
    }
    #footer-logo-con img {
        width: 60%;
        object-fit: cover;
    }
    #footer-info1 {
        width: 27%;
    }
    #footer-info2 {
        width: 27%;
    }
    #footer-info3 {
        width: 27%;
    }
</style>
<hr id="footer-separator">
<div id="footer">
    <div id="footer-logo-con">
        <img th:src="@{/images/Logo.png}">
    </div>
    <div id="footer-info1">
        <b>COMPANY INFO</b><br><br>
        <b>COMPANY</b> : 파마존컴퍼니<br>
        <b>OWNER</b> : JEP / CPO : JEP<br>
        <b>ADDRESS</b> : 서울특별시 광주구 재래동 5-234 동방빌딩 10층<br>
        <b>BUSINESS</b> LICENSE : 123-45-231<br>
        <b>MAIL ORDER LICENSE</b> :제2021-서울재래-10099호<br>
        <br>
        TERMS OF USE / PRIVACY POLICY
    </div>
    <div id="footer-info2">
        <b>STORE</b><br><br>
        5-131 DONGDONG BLDG 10TH FL.<br>
        JARAE-DONG, GWANGJU-GU, SEOUL, KOREA<br>
        T. +82 2 543 7137M<br><br>

        <b>STORE HOURS</b><br><br>
        MON - FRI : 11AM ~ 9PM<br>
        SAT : 12AM ~ 9PM<br>
        SUN : 12AM ~ 8PM<br>
    </div>
    <div id="footer-info3">
        <b>CUSTOMER SERVICE</b><br><br>
        T. : 010 234 9238<br>
        EMAIL : JEP@PAMAJON.CO.KR<br><br>

        <b>BANK ACCOUNT</b><br>
        신한 111 222 3367449<br>
        국민 123454 24 099999<br>
    </div>
</div>
</div>
</div>
</body>
</html>