<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pamajon</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glider.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script async type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script th:src="@{/js/glider.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <style>
        .header-cate-con {
            height: 0;
            visibility: hidden;
            transition-duration: 100ms;
        }
        .header-cate-con-con {
            margin-top: 1em;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }
        .cate-small {
            width: 13em;
            margin-right: 1em;
            height: 15em;
        }
        hr.cate-hr {
            margin: 1em 1em 1em 0;
            border: none;
            height: 1px;
            /* Set the hr color */
            background-color: black; /* Modern Browsers */
        }
        .cate-small-sub {
            margin-top: 0.5em;
            color: rgba(0,0,0,0.7);
        }
        .cate-click {
            cursor: pointer;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="logo-search">
            <div id="logo-container">
                <a th:href="@{/}">
                <img id="logo" th:src="@{/images/Logo.png}">
                </a>
            </div>
            <div id="searchbar-container">
                <div id="searchbar">
                    <input id="search-input" type="text">
                    <button onclick="fn_header_search();" id="search-btn" type="button"><ion-icon name="search-outline"></ion-icon></button>
                </div>
            </div>
            <div id="shop-info-container">
                MON-FRI : 11~9 / SAT : 12~9 / SUN : 12~8<br>
                555-13 4TH FL. SINSA-DONG, GANGNAM-GU, SEOUL<br>
                JHLEE1@BLUESMAN.CO.KR / 02-543-7137
            </div>
        </div>
        <div id="menus">
            <div id="shop-cates">
                <div class="shop-cate">
                    <a th:href="@{/}">HOME</a>
                </div>
                <div class="shop-cate">
                    <a th:href="@{/product/new-arrival/1}">NEW ARRIVAL</a>
                </div>
                <div class="shop-cate">
                    <p onclick="fn_header_drop('brand');" class="cate-click">BRAND</p>
                </div>
                <div class="shop-cate">
                    <p onclick="fn_header_drop('categories');" class="cate-click">CATEGORIES</p>
                </div>
            </div>
            <div id="user-cates">
                <div th:if="${session.loginMember == null}" class="user-cate">
                    <a th:href="@{/member/join}">JOIN</a>
                </div>
                <div th:if="${session.loginMember == null}" class="user-cate">
                    <a th:href="@{/member/login}">LOG-IN</a>
                </div>
                <div th:if="${session.loginMember != null}" class="user-cate">
                    <a th:href="@{/member/myPage}">MYPAGE</a>
                </div>
                <div th:if="${session.loginMember != null}" class="user-cate">
                    <a th:href="@{/member/logout}">LOGOUT</a>
                </div>
            </div>
        </div>
        <hr>
        <div id="cate-con" class="header-cate-con">
            <div id="cate-con-con" class="header-cate-con-con">
                <div th:each="item : ${session.cateResult}" class="cate-small">
                    <th:block th:each="subItem : ${item}">
                        <th:block th:if="${subItemStat.index == 0}">
                        <a th:href="|@{/product/big-cate/}${subItem.get('PRO_CAT_WRAPPER_ID')}|">
                            <b th:text="${subItem.get('PRO_CAT_WRAPPER_NAME')}">
                            </b>
                        </a>
                        <hr class="cate-hr">
                        </th:block>
                        <div class="cate-small-sub">
                            <a th:href="|@{/product/small-cate/}${subItem.get('PRO_CAT_ID')}|" th:text="${subItem.get('PRO_CAT_NAME')}"></a>
                        </div>
                    </th:block>
                </div>
            </div>
            <hr>
        </div>
        <div id="brand-con" class="header-cate-con">
            <div id="brand-con-con" class="header-cate-con-con">
                <div th:each="item : ${session.brandChar}" class="cate-small">
                    <b th:text="${item}">
                    </b>
                    <hr class="cate-hr">
                    <th:block th:each="brand : ${session.brandList}">
                        <th:bloc th:if="${brand.get('PRO_BRAND_NAME').charAt(0) == item}">
                            <div class="cate-small-sub">
                                <a th:href="|@{/product/brand/}${brand.get('PRO_BRAND')}|" th:text="${brand.get('PRO_BRAND_NAME')}"></a>
                            </div>
                        </th:bloc>
                    </th:block>
                </div>
            </div>
            <hr>
        </div>
        <script>
            let contextPath = document.getElementById('contextPathHolder').getAttribute('data-contextPath') ? document.getElementById('contextPathHolder').getAttribute('data-contextPath') : '';

            function fn_header_drop(cate){
                let cateCon;
                if(cate === 'brand'){
                    cateCon = document.getElementById('brand-con');
                }else {
                    cateCon = document.getElementById('cate-con');
                }
                if(cateCon.style.height === '0px' || cateCon.style.height === '') {
                    if(cate === 'brand') {
                        cateCon.style.height = '80em';
                        document.getElementById('cate-con').style.height = '0px';
                        document.getElementById('cate-con').style.visibility = 'hidden';
                    }
                    else {
                        cateCon.style.height = '20em';
                        document.getElementById('brand-con').style.height = '0px';
                        document.getElementById('brand-con').style.visibility = 'hidden';
                    };
                    cateCon.style.visibility = 'visible';
                }
                else {
                    cateCon.style.height = '0';
                    cateCon.style.visibility = 'hidden';
                }
            }

            function fn_header_search(){
                let keyword = document.getElementById('search-input').value;
                location.href = contextPath + "/product/search?keyword="+keyword;
            }

            document.getElementById('search-input').addEventListener("keypress",function(e){
                if (e.key === 'Enter'){
                    fn_header_search();
                }
            })
        </script>