<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pamajon</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glider.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script async type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script th:src="@{/js/glider.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <style>
        #cate-con {
            margin-top: 1.75em;
            height: 0;
            visibility: hidden;
            transition-duration: 100ms;
        }
        #cate-con-con {
            display: flex;
            height: 100%;
        }
        .cate-small {
            width: 14%;
            margin-right: 1em;
        }
        hr.cate-hr {
            margin: 1em 1em 1em 0;
            border: none;
            height: 1px;
            /* Set the hr color */
            background-color: black; /* Modern Browsers */
        }
        .cate-small-sub {
            margin-top: 0.5em;
            color: rgba(0,0,0,0.7);
        }
        #cateClick {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="logo-search">
            <div id="logo-container">
                <a th:href="@{/}">
                <img id="logo" th:src="@{/images/Logo.png}">
                </a>
            </div>
            <div id="searchbar-container">
                <div id="searchbar">
                    <input id="search-input" type="text">
                    <button id="search-btn" type="button"><ion-icon name="search-outline"></ion-icon></button>
                </div>
            </div>
            <div id="shop-info-container">
                MON-FRI : 11~9 / SAT : 12~9 / SUN : 12~8<br>
                555-13 4TH FL. SINSA-DONG, GANGNAM-GU, SEOUL<br>
                JHLEE1@BLUESMAN.CO.KR / 02-543-7137
            </div>
        </div>
        <div id="menus">
            <div id="shop-cates">
                <div class="shop-cate">
                    <a th:href="@{/}">HOME</a>
                </div>
                <div class="shop-cate">
                    <a th:href="@{/}">NEW ARRIVAL</a>
                </div>
                <div class="shop-cate">
                    <a th:href="@{/}">BRAND</a>
                </div>
                <div class="shop-cate">
                    <p id="cateClick">CATEGORIES</p>
                </div>
            </div>
            <div id="user-cates">
                <div th:if="${session.loginMember == null}" class="user-cate">
                    <a th:href="@{/member/join}">JOIN</a>
                </div>
                <div th:if="${session.loginMember == null}" class="user-cate">
                    <a th:href="@{/member/login}">LOG-IN</a>
                </div>
                <div th:if="${session.loginMember != null}" class="user-cate">
                    <a th:href="@{/member/myPage}">MYPAGE</a>
                </div>
                <div th:if="${session.loginMember != null}" class="user-cate">
                    <a th:href="@{/member/logout}">LOGOUT</a>
                </div>
            </div>
        </div>
        <hr>
        <div id="cate-con">
            <div id="cate-con-con">
                <div th:each="item : ${session.cateResult}" class="cate-small">
                    <th:block th:each="subItem : ${item}">
                        <th:block th:if="${subItemStat.index == 0}">
                        <a th:href="|@{/product/list/big-cate/}${subItem.get('PRO_CAT_WRAPPER_ID')}|">
                            <b th:text="${subItem.get('PRO_CAT_WRAPPER_NAME')}">
                            </b>
                        </a>
                        <hr class="cate-hr">
                        </th:block>
                        <div class="cate-small-sub">
                            <a th:href="|@{/product/list/small-cate/}${subItem.get('PRO_CAT_ID')}|" th:text="${subItem.get('PRO_CAT_NAME')}"></a>
                        </div>
                    </th:block>
                </div>
            </div>
            <hr>
        </div>
        <script>
            let contextPath = document.getElementById('contextPathHolder').getAttribute('data-contextPath') ? document.getElementById('contextPathHolder').getAttribute('data-contextPath') : '';
            document.getElementById('cateClick').addEventListener('click', function(){
                let cateCon = document.getElementById('cate-con');
                console.log(cateCon.style.height)
                if(cateCon.style.height === '0px' || cateCon.style.height === '') {
                    cateCon.style.height = '20em';
                    cateCon.style.visibility = 'visible';
                }
                else {
                    cateCon.style.height = '0';
                    cateCon.style.visibility = 'hidden';
                }
            })
        </script>