<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

    <script th:inline="javascript">
        var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

        let msg = [[${msg}]];
        let loc = [[${loc}]];
        alert(msg);
        if([[${script}]] === 'close'){
        window.close();
        }
        location.href = contextPath + loc;
    </script>

</body>
</html>