<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../../../static/adminTemplateResources/plugins/bower_components/jquery/dist/jquery.min.js" th:src="@{/adminTemplateResources/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../../../static/adminTemplateResources/plugins/bower_components/popper.js/dist/umd/popper.min.js" th:src="@{/adminTemplateResources/plugins/bower_components/popper.js/dist/umd/popper.min.js}"></script>
<script src="../../../static/adminTemplateResources/bootstrap/dist/js/bootstrap.min.js" th:src="@{/adminTemplateResources/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="../../../static/adminTemplateResources/js/app-style-switcher.js" th:src="@{/adminTemplateResources/js/app-style-switcher.js}"></script>
<!--Wave Effects -->
<script src="../../../static/adminTemplateResources/js/waves.js" th:src="@{/adminTemplateResources/js/waves.js}"></script>
<!--Menu sidebar -->
<script src="../../../static/adminTemplateResources/js/sidebarmenu.js" th:src="@{/adminTemplateResources/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script src="../../../static/adminTemplateResources/js/custom.js" th:src="@{/adminTemplateResources/js/custom.js}"></script>

</body>
</html>