<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamajon.mapper.AdminMapper">

    <resultMap id="adminUser" type="com.pamajon.admin.model.vo.AdminUser">
        <result property="adminId" column="ADMIN_ID"/>
        <result property="authId" column="AUTH_ID"/>
        <result property="deptCd" column="DEPT_CD"/>
        <result property="adminLoginId" column="ADMIN_LOGIN_ID"/>
        <result property="adminLoginPwd" column="ADMIN_LOGIN_PWD"/>
        <result property="adminTelFdigit" column="ADMIN_TEL_FDIGIT"/>
        <result property="adminTelSdigit" column="ADMIN_TEL_SDIGIT"/>
        <result property="adminTelTdigit" column="ADMIN_TEL_TDIGIT"/>
        <result property="adminBirth" column="ADMIN_BIRTH"/>
        <result property="adminEmail" column="ADMIN_EMAIL"/>
        <result property="adminDomain" column="ADMIN_EMAIL_DOMAIN"/>
        <result property="adminToken" column="ADMIN_TOKEN"/>
        <result property="adminDate" column="ADMIN_DATE"/>
        <result property="adminCurrDate" column="ADMIN_CURR_DATE"/>
        <result property="adminApprStatus" column="ADMIN_APPR_STATUS"/>
        <result property="adminFailCount" column="ADMIN_FAIL_COUNT"/>
        <result property="sessionKey" column="SESSIONKEY"/>
        <result property="sessionLimit" column="SESSIONLIMIT"/>
    </resultMap>

    <resultMap id="shipmentResultSet" type="com.pamajon.admin.model.vo.ShipmentListDto">
        <result property="orderId" column="ORDER_ID"/>
        <result property="orderEmail" column="ORDER_EMAIL"/>
        <result property="receiver" column="ADDR_RECEIVER"/>
        <result property="orderPhone" column="ORDER_PHONE"/>
        <result property="orderPurchase" column="ORDER_PURCHASE"/>
        <result property="orderDeliveryStatus" column="ORDER_DELI_STATUS"/>
        <result property="orderDate" column="ORDER_DATE"/>
    </resultMap>

    <resultMap id="ShipmentDetailResultSet" type="com.pamajon.admin.model.vo.ShipmentDetailDto">
        <result property="orderId" column="ORDER_ID"/>
        <result property="proImgName" column="PRO_IMG_NAME"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productSize" column="P_SIZE"/>
        <result property="productQuantity" column="SOLD_QUANTITY"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
    </resultMap>

    <resultMap id="monthlyRateResultSet" type="com.pamajon.admin.model.vo.MonthlyRateDto">
        <result property="month" column="MONTH"/>
        <result property="total" column="TOTAL"/>
    </resultMap>

    <select id="getUser" parameterType="com.pamajon.admin.model.vo.AdminUser" resultMap="adminUser">
        SELECT
             ADMIN_ID
            ,AUTH_ID
            ,DEPT_CD
            ,ADMIN_LOGIN_ID
            ,ADMIN_LOGIN_PWD
            ,ADMIN_TEL_FDIGIT
            ,ADMIN_TEL_SDIGIT
            ,ADMIN_TEL_TDIGIT
            ,ADMIN_BIRTH
            ,ADMIN_EMAIL
            ,ADMIN_EMAIL_DOMAIN
            ,ADMIN_TOKEN
            ,ADMIN_DATE
            ,ADMIN_CURR_DATE
            ,ADMIN_APPR_STATUS
            ,ADMIN_FAIL_COUNT
        FROM
            ADMIN
        WHERE
            ADMIN_LOGIN_ID=#{adminLoginId}
    </select>

    <update id="increaseFailCount" parameterType="com.pamajon.admin.model.vo.AdminUser">
        UPDATE
              ADMIN
          SET
              ADMIN_FAIL_COUNT = ADMIN_FAIL_COUNT + 1
        WHERE
              ADMIN_LOGIN_ID=#{adminLoginId}
    </update>

    <select id="getFailCount" parameterType="com.pamajon.admin.model.vo.AdminUser" resultType="integer">
        SELECT
              ADMIN_FAIL_COUNT
         FROM
             ADMIN
        WHERE
            ADMIN_LOGIN_ID=#{adminLoginId}
    </select>

    <update id="blockAdminUserStatus" parameterType="com.pamajon.admin.model.vo.AdminUser">
        UPDATE
            ADMIN
        SET
            ADMIN_APPR_STATUS = 'BLK'
        WHERE
            ADMIN_LOGIN_ID=#{adminLoginId}
    </update>
    <update id="resetFailCount" parameterType="com.pamajon.admin.model.vo.AdminUser">
        UPDATE
            ADMIN
        SET
            ADMIN_APPR_STATUS = 'APP'
           ,ADMIN_FAIL_COUNT ='0'
           ,ADMIN_CURR_DATE = NOW()
        WHERE
            ADMIN_LOGIN_ID=#{adminLoginId}
    </update>
    <update id="saveSessionInfo" parameterType="map">
        UPDATE
              ADMIN
          SET
               SESSIONKEY=#{sessionId}
              ,SESSIONLIMIT=DATE_ADD(NOW(), INTERVAL 7 DAY)
        WHERE
            ADMIN_LOGIN_ID=#{userId}
    </update>

    <select id="getUserbyCookieId" parameterType="String" resultMap="adminUser">
        SELECT
            ADMIN_ID
             ,AUTH_ID
             ,DEPT_CD
             ,ADMIN_LOGIN_ID
             ,ADMIN_LOGIN_PWD
             ,ADMIN_TEL_FDIGIT
             ,ADMIN_TEL_SDIGIT
             ,ADMIN_TEL_TDIGIT
             ,ADMIN_BIRTH
             ,ADMIN_EMAIL
             ,ADMIN_EMAIL_DOMAIN
             ,ADMIN_TOKEN
             ,ADMIN_DATE
             ,ADMIN_CURR_DATE
             ,ADMIN_APPR_STATUS
             ,ADMIN_FAIL_COUNT
        FROM
            ADMIN
        WHERE
            SESSIONKEY=#{sessionKey}
        AND
           (DATE_FORMAT(SESSIONLIMIT,'%Y%m%d')-DATE_FORMAT(NOW(),'%Y%m%d'))>-1
    </select>

    <update id="expireSessionInfo" parameterType="com.pamajon.admin.model.vo.AdminUser">
        UPDATE
            ADMIN
        SET
            SESSIONKEY='NONE'
          ,SESSIONLIMIT=NULL
        WHERE
            ADMIN_LOGIN_ID=#{adminLoginId}
    </update>

    <select id="getListCount" resultType="int">
        SELECT COUNT(1)
        FROM   ORDER_P op
    </select>

    <select id="getShipmentList" resultMap="shipmentResultSet">
        SELECT
             ORDER_ID,
             ORDER_EMAIL,
             al.ADDR_RECEIVER AS ADDR_RECEIVER,
             ORDER_PHONE,
             ORDER_PURCHASE,
             ORDER_DELI_STATUS,
             DATE_FORMAT(ORDER_DATE ,'%Y-%m-%d') AS ORDER_DATE
        FROM
             ORDER_P op,
             ADDRESS_LIST al
        WHERE
             1=1
          AND
             op.ADDR_ID = al.ADDR_ID
     ORDER BY
             ORDER_DATE DESC
    </select>

    <select id="getShipmentListBySearchCount" resultType="int" parameterType="com.pamajon.admin.model.vo.SearchParameterDto">
        SELECT
            COUNT(1)
        FROM
            ORDER_P op,
            ADDRESS_LIST al
        WHERE
            1=1
        AND
            op.ADDR_ID = al.ADDR_ID
        <!-- 유저가 날짜검색을 조건으로 추가 했을경우 실행되는 쿼리문 -->
        <if test="searchDateOptionCheckBox=='unchecked'">
            AND
                DATE_FORMAT(REPLACE(ORDER_DATE,'-',''),'%Y%m%d')
                                                                BETWEEN DATE_FORMAT(REPLACE(#{startDate},'-',''),'%Y%m%d')
                                                                AND DATE_FORMAT(REPLACE(#{endDate},'-',''),'%Y%m%d')
        </if>
        <choose>
            <!-- 유저가 날짜검색을 조건으로 추가 했을경우 실행되는 쿼리문 -->
            <when test="searchOption=='ReceiverEmail'">
                AND
                ORDER_EMAIL LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
            <!-- 결제 번호로 검색 -->
            <when test="searchOption=='purchaseNo'">
                AND
                ORDER_ID=#{searchOrderValue}
            </when>
            <!-- 받는사람으로 검색조건 -->
            <when test="searchOption=='Receiver'">
                AND
                al.ADDR_RECEIVER LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
            <!-- 받는사람 전화번호로 검색 -->
            <when test="searchOption=='ReceiverPhone'">
                AND
                   ORDER_PHONE LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
        </choose>
                ORDER BY
                         ORDER_DATE DESC
    </select>

    <select id="getShipmentListBySearch" resultMap="shipmentResultSet" parameterType="com.pamajon.admin.model.vo.SearchParameterDto">
        SELECT
             ORDER_ID,
             ORDER_EMAIL,
             al.ADDR_RECEIVER AS ADDR_RECEIVER,
             ORDER_PHONE,
             ORDER_PURCHASE,
             ORDER_DELI_STATUS,
             DATE_FORMAT(ORDER_DATE ,'%Y-%m-%d') AS ORDER_DATE
        FROM
             ORDER_P op,
             ADDRESS_LIST al
        WHERE
             1=1
          AND
             op.ADDR_ID = al.ADDR_ID
        <!-- 유저가 날짜검색을 조건으로 추가 했을경우 실행되는 쿼리문 -->
        <if test="searchDateOptionCheckBox=='unchecked'">
            AND
                DATE_FORMAT(REPLACE(ORDER_DATE,'-',''),'%Y%m%d')
                                                                BETWEEN DATE_FORMAT(REPLACE(#{startDate},'-',''),'%Y%m%d')
                                                                    AND DATE_FORMAT(REPLACE(#{endDate},'-',''),'%Y%m%d')
        </if>
        <choose>
            <!-- 유저가 날짜검색을 조건으로 추가 했을경우 실행되는 쿼리문 -->
            <when test="searchOption=='ReceiverEmail'">
             AND
                ORDER_EMAIL LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
            <!-- 결제 번호로 검색 -->
            <when test="searchOption=='purchaseNo'">
            AND
                ORDER_ID=#{searchOrderValue}
            </when>
            <!-- 받는사람으로 검색조건 -->
            <when test="searchOption=='Receiver'">
            AND
                al.ADDR_RECEIVER LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
            <!-- 받는사람 전화번호로 검색 -->
            <when test="searchOption=='ReceiverPhone'">
            AND
                ORDER_PHONE LIKE CONCAT("%",#{searchOrderValue},"%")
            </when>
        </choose>
              ORDER BY
                  ORDER_DATE DESC
    </select>
    
    <select id="getOrderListDetail" resultMap="ShipmentDetailResultSet" parameterType="int">
        SELECT
            op.ORDER_ID AS ORDER_ID,
            PRO_IMG_NAME AS PRO_IMG_NAME,
            p.PRODUCT_NAME AS PRODUCT_NAME,
            po.P_SIZE AS P_SIZE,
            s.SOLD_QUANTITY AS SOLD_QUANTITY,
            op.ORDER_STATUS AS ORDER_STATUS,
            p.PRODUCT_PRICE AS PRODUCT_PRICE
        from SOLD s,
             P_OPTION po,
             PRODUCT p,
             PRO_IMAGE pi2,
             ORDER_P op
        WHERE
            1=1
          AND
             s.P_OPTION_ID = po.P_OPTION_ID
          AND
             po.PRODUCT_ID = p.PRODUCT_ID
          AND
             p.PRODUCT_ID = pi2.PRODUCT_ID
          AND
             op.ORDER_ID = s.ORDER_ID
          AND
             pi2.PRO_IMG_ISDEFAULT ='1'
          AND
             op.order_id=#{orderNo}
    </select>

    <!-- 월별 합계 쿼리문 -->
    <select id="getMonthlySalesRate" resultMap="monthlyRateResultSet">
        SELECT
            MONTH(ORDER_DATE) AS `MONTH`,
            SUM(ORDER_PURCHASE) AS `TOTAL`
        FROM
            ORDER_P op
        WHERE
            1=1
          AND
            DATE_FORMAT(ORDER_DATE,'%Y') = DATE_FORMAT(NOW(),'%Y')
        GROUP BY `MONTH`
    </select>

</mapper>    