<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <insert id="memberInsert" parameterType="map">
        INSERT INTO MEMBER
        (
            user_id,
            mem_name,
            mem_phone,
            mem_grade,
            mem_date,
            mem_status
        )
        VALUES (
                NEXTVAL(SEQ_MEMBER),
                #{name},
                #{phone},
                '일반회원',
                SYSDATE(),
                0
               );
    </insert>

    <insert id="memberEmailInsert" parameterType="map">
        INSERT INTO MEMBER_ID(
            USER_ID,
            MEMBER_EMAIL,
            MEMBER_PASSWD,
            MEMBER_ISSOCIAL
        )VALUES (
            #{usid},
            #{email},
            #{passwd},
            #{isSocial}
        )
    </insert>

    <insert id="insertAddr" parameterType="com.pamajon.member.model.vo.MemberAddr">
        INSERT INTO ADDRESS_LIST(
            ADDR_ID,
            USER_ID,
            ADDR_PHONE,
            ADDR_NAME,
            ADDR_RECEIVER,
            ADDR_ZIPCODE,
            ADDR,
            ADDR_DETAIL,
            ADDR_CELLPHONE,
            ADDR_STATUS)
        VALUES (
                NEXTVAL(SEQ_ADLIST),
                #{userId},
                #{addrPhone},
                #{addrName},
                #{addrReceiver},
                #{addrZipcode},
                #{addr},
                #{addrDetail},
                #{addrPhone},
                0
               )

    </insert>

    <select id="selectOneByEmail" parameterType="map" resultType="int">
        SELECT count(MEMBER_EMAIL) FROM MEMBER_ID WHERE MEMBER_EMAIL = #{EMAIL};
    </select>

    <select id="selectMemByUsid" parameterType="int" resultMap="selectMem">
        SELECT * FROM MEMBER WHERE USER_ID = #{usid}
    </select>

    <select id="selectOneByMemId" parameterType="map" resultMap="loginMap">
        SELECT USER_ID, MEMBER_ISSOCIAL, MEMBER_PASSWD FROM MEMBER_ID WHERE MEMBER_EMAIL = #{email}
    </select>
    
    <select id="selectOneByNamePhone" parameterType="map" resultType="int">
        SELECT user_id FROM MEMBER WHERE mem_name = #{name} AND mem_phone = #{phone}
    </select>

    <select id="kakaoSelectUsidByEmailName" parameterType="map" resultType="int">
        SELECT USER_ID FROM MEMBER_ID WHERE MEMBER_EMAIL = #{email}
    </select>

    <select id="countMembersByNamePhone" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE mem_name = #{name} AND mem_phone = #{phone}
    </select>

    <update id="updatePasswd" parameterType="map">
        UPDATE MEMBER_ID SET MEMBER_PASSWD = #{passwd} WHERE MEMBER_EMAIL = #{email}
    </update>
    
    <resultMap id="selectMem" type="com.pamajon.member.model.vo.Member">
        <result property="userId" column="USER_ID"/>
        <result property="memName" column="MEM_NAME"/>
        <result property="memPhone" column="MEM_PHONE"/>
        <result property="memGrade" column="MEM_GRADE"/>
        <result property="memDate" column="MEM_DATE"/>
        <result property="memStatus" column="MEM_STATUS"/>
    </resultMap>

    <resultMap id="loginMap" type="HashMap">
        <result column="USER_ID" property="usid"/>
        <result column="MEMBER_ISSOCIAL" property="isSocial"/>
        <result column="MEMBER_PASSWD" property="passwd"/>
    </resultMap>
</mapper>