<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamajon.mapper.OrderMapper">

    <resultMap id="order" type="com.pamajon.order.model.vo.AddressDto">
        <result property="addrId" column="ADDR_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="addrReceiver" column="ADDR_RECEIVER"/>
        <result property="addrName" column="ADDR_NAME"/>
        <result property="addrZipcode" column="ADDR_ZIPCODE"/>
        <result property="addr" column="ADDR"/>
        <result property="addrDetail" column="ADDR_DETAIL"/>
        <result property="addrPhone" column="ADDR_PHONE"/>
        <result property="addrCellPhone" column="ADDR_CELLPHONE"/>
        <result property="addrStatus" column="ADDR_STATUS"/>
    </resultMap>

    <select id="getAddrList" parameterType="integer" resultMap="order">
        SELECT
            ADDR_ID,
            MEM_NAME,
            ADDR_NAME,
            ADDR_RECEIVER,
            ADDR_ZIPCODE,
            ADDR,
            ADDR_DETAIL,
            ADDR_CELLPHONE,
            ADDR_PHONE,
            ADDR_STATUS
        FROM
            ADDRESS_LIST AL
                JOIN
            MEMBER M
            ON
        M.USER_ID = AL.USER_ID
        WHERE
            AL.USER_ID =${userNo}
    </select>

    <select id="regularCheck" parameterType="integer" resultType="integer">
        SELECT
            COUNT(*)
        FROM ADDRESS_LIST AL
        WHERE
            USER_ID=${userNo}
          AND
            ADDR_STATUS ='0';
    </select>

    <insert id="createAddress" parameterType="com.pamajon.order.model.vo.AddressDto">
        INSERT INTO
        ADDRESS_LIST
        (
        ADDR_ID,
        USER_ID,
        ADDR_NAME,
        ADDR_RECEIVER,
        ADDR_ZIPCODE,
        ADDR,
        ADDR_DETAIL,
        ADDR_CELLPHONE,
        ADDR_PHONE,
        ADDR_STATUS
        )
        VALUES
        (
        NEXTVAL(SEQ_ADLIST),
        #{userId},
        #{addrName},
        #{addrReceiver},
        #{addrZipcode},
        #{addr},
        #{addrDetail},
        #{addrCellPhone},
        #{addrPhone},
        #{addrStatus}
        )
    </insert>

    <delete id="deleteAddress" parameterType="hashmap">
        DELETE
        FROM ADDRESS_LIST
        WHERE
        <foreach collection="addrList" item="type" index="index" separator="OR">
            (USER_ID = #{userNo} AND ADDR_ID = #{type})
        </foreach>
    </delete>

    <update id="updateAddress" parameterType="com.pamajon.order.model.vo.AddressDto">
        UPDATE
              ADDRESS_LIST
           SET
              ADDR_STATUS=1
         WHERE
              ADDR_STATUS='0'
           AND
              USER_ID=#{userId};
    </update>
    
    <select id="getAddress" parameterType="integer" resultMap="order">
        SELECT
            ADDR_ID,
            ADDR_NAME,
            ADDR_RECEIVER,
            ADDR_ZIPCODE,
            ADDR,
            ADDR_DETAIL,
            ADDR_CELLPHONE,
            ADDR_PHONE,
            ADDR_STATUS
        FROM
            ADDRESS_LIST
        WHERE
            ADDR_ID =${addrNo}
    </select>
    <update id="modifyAddress" parameterType="com.pamajon.order.model.vo.AddressDto">
        UPDATE
              ADDRESS_LIST
           SET
               ADDR_NAME=#{addrName},
               ADDR_RECEIVER=#{addrReceiver},
               ADDR_ZIPCODE=#{addrZipcode},
               ADDR=#{addr},
               ADDR_DETAIL=#{addrDetail},
               ADDR_CELLPHONE=#{addrCellPhone},
               ADDR_PHONE=#{addrPhone},
               ADDR_STATUS=#{addrStatus}
        WHERE
             ADDR_ID=#{addrId}
          AND
             USER_ID=#{userId}
    </update>
    <select id="getRegAddress" parameterType="integer" resultMap="order">
        SELECT
            ADDR_NAME,
            ADDR_RECEIVER,
            ADDR_ZIPCODE,
            ADDR,
            ADDR_DETAIL,
            ADDR_CELLPHONE,
            ADDR_PHONE,
            ADDR_STATUS
        FROM
            ADDRESS_LIST
        WHERE
            USER_ID =${userNo}
          AND
            ADDR_STATUS='0'
    </select>
</mapper>    