<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

    <!--브랜드 CRUND 용 Mapper -->
    <resultMap id="brandResultSet" type="com.pamajon.product.model.vo.BrandDto">
        <result property="proBrand" column="PRO_BRAND"></result>
        <result property="proBrandName" column="PRO_BRAND_NAME"></result>
    </resultMap>

    <select id="getBrand" resultType="com.pamajon.product.model.vo.BrandDto">
        SELECT * FROM PRO_BRAND
    </select>
    <select id="getBrandList" resultMap="brandResultSet">
        SELECT * FROM PRO_BRAND
    </select>

    <select id="homeBoard" resultType="map">
        SELECT *
        FROM PRODUCT
            left join PRO_IMAGE PI
                on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
            left join PRO_BRAND PB
                on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PRO_IMG_ISDEFAULT = 1
        ORDER BY PRODUCT.PRODUCT_ID DESC LIMIT 20
    </select>

    <select id="wishDuplicate" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM WISHLIST
        WHERE PRODUCT_ID = #{productId} AND USER_ID = #{usid}
    </select>

    <insert id="wishInsert" parameterType="map">
        INSERT INTO WISHLIST(
                             WL_LIST,
                             PRODUCT_ID,
                             USER_ID,
                             WL_STATUS
        )VALUES(
                NEXTVAL(SEQ_WISHLIST),
                #{productId},
                #{usid},
                0
                       )
    </insert>

    <insert id="insertBrand" parameterType="int">
        INSERT INTO PRO_BRAND(
                    PRO_BRAND,
                    PRO_BRAND_NAME
        )VALUES (
                 NEXTVAL(SEQ_BRAND),
                 #{proBrandName}
        )
    </insert>

    <select id="bigCateList" resultType="map">
        SELECT * FROM WRAPPER_CAT
    </select>

    <select id="smallCateList" resultType="map">
        SELECT * FROM PRO_CAT
    </select>

    <select id="selectProductBySmall" parameterType="int" resultType="map">
        SELECT *
        FROM PRODUCT
                 left join PRO_IMAGE PI
                           on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
                 left join PRO_BRAND PB
                           on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PRO_CAT_ID = #{cateId} AND PRO_IMG_ISDEFAULT = 1
        ORDER BY PRODUCT.PRODUCT_ID DESC
    </select>

    <select id="selectProductByBig" parameterType="int" resultType="map">
        SELECT *
        FROM PRODUCT
                 left join PRO_IMAGE PI
                           on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
                 left join PRO_BRAND PB
                           on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PRO_BIG_CAT_ID = #{cateId} AND PRO_IMG_ISDEFAULT = 1
        ORDER BY PRODUCT.PRODUCT_ID DESC
    </select>

    <select id="selectBigCateName" parameterType="int" resultType="string">
        SELECT PRO_CAT_WRAPPER_NAME FROM WRAPPER_CAT WHERE PRO_CAT_WRAPPER_ID = #{cateId};
    </select>

    <select id="selectSmallCateName" parameterType="int" resultType="string">
        SELECT PRO_CAT_NAME FROM PRO_CAT WHERE PRO_CAT_ID = #{cateId};
    </select>

    <select id="brandList" resultType="map">
        SELECT * FROM PRO_BRAND
    </select>

    <select id="selectBrandName" resultType="string" parameterType="int">
        SELECT PRO_BRAND_NAME FROM PRO_BRAND WHERE PRO_BRAND = #{cateId}
    </select>

    <select id="selectBrand" resultType="map" parameterType="int">
        SELECT *
        FROM PRODUCT
                 left join PRO_IMAGE PI
                           on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
                 left join PRO_BRAND PB
                           on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PB.PRO_BRAND = #{cateId} AND PRO_IMG_ISDEFAULT = 1
        ORDER BY PRODUCT.PRODUCT_ID DESC
    </select>

    <select id="newArrival" resultType="map">
        SELECT *
        FROM PRODUCT
                 left join PRO_IMAGE PI
                           on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
                 left join PRO_BRAND PB
                           on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PRO_IMG_ISDEFAULT = 1
        ORDER BY PRODUCT.PRODUCT_ID DESC
    </select>

    <select id="productSearch" resultType="map">
        SELECT *
        FROM PRODUCT
                 left join PRO_IMAGE PI
                           on PRODUCT.PRODUCT_ID = PI.PRODUCT_ID
                 left join PRO_BRAND PB
                           on PRODUCT.PRO_BRAND = PB.PRO_BRAND
        WHERE PRO_IMG_ISDEFAULT = 1
            AND PRODUCT_NAME LIKE CONCAT('%',#{key},'%')
           OR PRO_BRAND_NAME LIKE CONCAT('%',#{key}, '%')
        ORDER BY PRODUCT.PRODUCT_ID DESC
    </select>

</mapper>