<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pamajon.mapper.PurchaseMapper">

    <resultMap id="memberResultSet" type="com.pamajon.order.model.vo.Member">
        <result property="userId" column="USER_ID"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberGrade" column="MEM_GRADE"/>
        <result property="memberDate" column="MEM_DATE"/>
        <result property="memberStatus" column="MEM_STATUS"/>
    </resultMap>

    <resultMap id="mileageResultSet" type="com.pamajon.order.model.vo.MileageDto">
        <result property="mileId" column="MILE_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="mileage" column="MILE"/>
        <result property="mileageContent" column="MILE_CONTENT"/>
    </resultMap>

    <resultMap id="productOptionDtoResultSet" type="com.pamajon.order.model.vo.ProductOptionDto">
        <result property="optionId" column="P_OPTION_ID"/>
        <result property="productId" column="PRODUCT_ID"/>
        <result property="optionColor" column="P_COLOR"/>
        <result property="optionSize" column="P_SIZE"/>
        <result property="optionCode" column="P_CODE"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="productName" column="PRODUCT_NAME"/>
    </resultMap>

    <select id="getMember" parameterType="integer" resultMap="memberResultSet">
        SELECT
               USER_ID,
               MEM_NAME,
               MEM_PHONE,
               MEM_GRADE,
               MEM_DATE,
               MEM_STATUS
          FROM
              MEMBER
        WHERE
             USER_ID=#{memNo}
    </select>

    <select id="getMileage" parameterType="integer" resultMap="mileageResultSet">
        SELECT
            USER_ID,
            SUM(MILE) AS MILE
        FROM
            MILEAGE
        WHERE
            USER_ID=#{memNo}
        GROUP BY USER_ID
    </select>

    <select id="getAddressId" resultType="integer">
        SELECT
            NEXTVAL(SEQ_ADLIST)
    </select>

    <insert id="createAddress" parameterType="com.pamajon.order.model.vo.AddressDto">
        INSERT INTO
            ADDRESS_LIST
        (
            ADDR_ID,
            USER_ID,
            ADDR_NAME,
            ADDR_RECEIVER,
            ADDR_ZIPCODE,
            ADDR,
            ADDR_DETAIL,
            ADDR_CELLPHONE,
            ADDR_PHONE,
            ADDR_STATUS
        )
        VALUES
        (
            #{addrId},
            #{userId},
            '임시주소',
            #{addrReceiver},
            #{addrZipcode},
            #{addr},
            #{addrDetail},
            #{addrCellPhone},
            #{addrPhone},
            '1'
        )
    </insert>
    <insert id="createOrder" parameterType="com.pamajon.order.model.vo.OrderDto">
        INSERT INTO
                ORDER_P
            (
                ORDER_ID,
                USER_ID,
                ADDR_ID,
                ORDER_ADDR,
                ORDER_STATUS,
                ORDER_PHONE,
                ORDER_EMAIL,
                ORDER_MESSAGE,
                ORDER_PURCHASE,
                ORDER_DELI_STATUS,
                ORDER_DATE,
                ORDER_CARDNUM,
                ORDER_TRANS_NAME,
                ORDER_METHOD,
                ORDER_ACCNUM,
                ORDER_KEY,
                ORDER_SHIPFEE
            )
            VALUES
            (
             NEXTVAL(SEQ_ORDER),
             #{userId},
             #{addrId},
             #{orderAddr},
             #{orderStatus},
             #{orderPhone},
             #{orderEmail},
             #{orderMessage},
             #{orderPurchase},
             #{orderDeliveryStatus},
             #{orderDate},
             #{orderCardNum},
             #{orderTransName},
             #{orderMethod},
             #{orderAccountNum},
             #{orderKey},
             #{orderShipfee}
            )
    </insert>
    <update id="insertMileage" parameterType="com.pamajon.order.model.vo.MileageDto">
       INSERT INTO
                 MILEAGE
                (
                MILE_ID,
                USER_ID,
                MILE,
                MILE_CONTENT
                )
                VALUES
                (
                 NEXTVAL(SEQ_MILEAGE),
                 #{userId},
                 -${mileage},
                 '상품 구매 사용'
                )
    </update>
    <update id="stackMileage" parameterType="com.pamajon.order.model.vo.MileageDto">
        INSERT INTO
            MILEAGE
        (
            MILE_ID,
            USER_ID,
            MILE,
            MILE_CONTENT
        )
        VALUES
        (
            NEXTVAL(SEQ_MILEAGE),
            #{userId},
            ${mileage},
            '상품 구매 포인트'
        )
    </update>
    <insert id="insertSold" parameterType="com.pamajon.order.model.vo.SoldDto">
        INSERT INTO
                   SOLD
                (
                SOLD_ID,
                ORDER_ID,
                P_OPTION_ID,
                SOLD_QUANTITY
                )
            VALUES
                (
                 NEXTVAL(SEQ_SOLD),
                 LASTVAL(SEQ_ORDER),
                 #{optionId},
                 #{soldQuantity}
                )
    </insert>

    <update id="modifyOptionStock" parameterType="com.pamajon.order.model.vo.SoldDto">
             UPDATE
                    P_OPTION
                SET
                   P_QUAN=P_QUAN-${soldQuantity}
              WHERE
                   P_OPTION_ID=#{optionId}
    </update>
    <select id="getProductOption" parameterType="com.pamajon.order.model.vo.ProductOptionDto" resultMap="productOptionDtoResultSet">
        SELECT
              P.PRODUCT_ID AS PRODUCT_ID
             ,P.PRODUCT_NAME AS PRODUCT_NAME
             ,P_SIZE
             ,P_QUAN
             ,PRODUCT_PRICE
        FROM
            P_OPTION O
                INNER JOIN
            PRODUCT P ON P.PRODUCT_ID = O.PRODUCT_ID
        WHERE
            P_OPTION_ID=#{optionId}
    </select>
</mapper>    