<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pamajon.mapper.QnaMapper">
    <resultMap id="qnaResultSet" type="com.pamajon.board.model.vo.QnaDto">
        <result property="qnaId"         column="QNA_ID"/>
        <result property="productId"     column="PRODUCT_ID"/>
        <result property="userId"        column="USER_ID"/>
        <result property="qnaTitle"      column="QNA_TITLE"/>
        <result property="qnaContent"    column="QNA_CONTENT"/>
        <result property="qnaDate"       column="QNA_DATE"/>
        <result property="qnaModifyDate" column="QNA_MODIFY_DATE"/>
        <result property="qnaPwd"        column="QNA_PWD"/>
        <result property="qnaStatus"     column="QNA_STATUS"/>
    </resultMap>


    <resultMap id="memberResultSet" type="com.pamajon.order.model.vo.Member">
        <result property="userId" column="USER_ID"/>
        <result property="memberName" column="MEM_NAME"/>
        <result property="memberPhone" column="MEM_PHONE"/>
        <result property="memberGrade" column="MEM_GRADE"/>
        <result property="memberDate" column="MEM_DATE"/>
        <result property="memberStatus" column="MEM_STATUS"/>
    </resultMap>

<select id="listQna" resultMap="qnaResultSet">
    SELECT * FROM QNA
</select>
    <insert id="createQna" parameterType="com.pamajon.board.model.vo.QnaDto">
        INSERT INTO QNA
        (
            QNA_ID,
            PRODUCT_ID,
            USER_ID,
            QNA_TITLE,
            QNA_CONTENT,
            QNA_DATE,
            QNA_MODIFY_DATE,
            QNA_PWD,
            QNA_STATUS
        )
        VALUES(
                  NEXTVAL(SEQ_REVIEW),
                  #{qnaId},
                  #{productId},
                  #{userid},
                  #{qnaTitle},
                  #{qnaContent},
                  NOW(),
                  NOW(),
                  #{qnaPwd},
                  #{qnaStatus}
              )
    </insert>

    <select id="readQna" parameterType="integer" resultMap="qnaResultSet">
        SELECT(
               QNA_ID,
               PRODUCT_NAME,
               MEM_NAME,
               QNA_TITLE,
               QNA_CONTENT,
               QNA_DATE,
               QNA_PWD,
               QNA_STATUS
                  )
        FROM QNA Q
                 JOIN
             MEMBER M,
             PRODUCT P
        where
            Q.USER_ID = M.USER_ID AND
            Q.PRODUCT_ID = P.PRODUCT_ID
          and
            Q.QNA_ID = #{qnaId}
    </select>

    <update id="updateQna" parameterType="integer">
        UPDATE
            QNA
        SET
            QNA_TITLE  = #{qnaTitle},
            QNA_CONTENT= #{qnaContent},
            QNA_STATUS = #{qnaStatus},
            QNA_MODIFY_DATE = SYSDATE()
        WHERE
            QNA_TITLE,
            QNA_CONTENT,
            QNA_STATUS
        WHERE
            QNA_ID = #{qnaId}

    </update>

    <delete id="deleteQna" parameterType="integer">
        DELETE
        FROM QNA
        WHERE
            QNA_ID = #{qnaId}
    </delete>

</mapper>